@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #040211;
  --primary: #ffffff;
  --secondary: #8b8e9c;
  --accent: #3874e1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #040211;
    --primary: #ffffff;
    --secondary: #8b8e9c;
    --accent: #3874e1;
  }
}

@font-face {
  font-family: 'Myriad Pro';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/MYRIADPRO-REGULAR.OTF');
}

@font-face {
  font-family: 'Myriad Pro';
  font-style: normal;
  font-weight: bold;
  src: url('/assets/fonts/MYRIADPRO-BOLD.OTF');
}

@font-face {
  font-family: 'Myriad Pro';
  font-style: italic;
  font-weight: normal;
  src: url('/assets/fonts/MYRIADPRO-SEMIBOLDIT.OTF');
}

body {
  font-family: Myriad Pro, sans-serif;
  color: var(--primary);
}